<ul class='nav nav-tabs mr-auto'>
  <li class='nav-item'>
    <a class='nav-link active' data-toggle='tab' href='#home'>My Notes</a>
  </li>
  <li class='nav-item'>
    <a class='nav-link' data-toggle='tab' href='#shared'>Shared Notes</a>
  </li>
</ul>

<div class='tab-content'>
  <div class='tab-pane active container' id='home'>
    <%= render 'notes', notes: @notes, tab_header: 'My Notes' %>
    <%= link_to 'New Note', new_note_path, class: 'btn btn-primary mt-2' %>
  </div>

  <div class='tab-pane container' id='shared'>
    <%= render 'notes', notes: @shared_notes, tab_header: 'Shared Notes' %>
  </div>
</div>
